<h1>Edit article</h1>

<% if @article.errors.any? %>
  <h2>The following error prevented the article from being saved</h2>
  <ul>
    <% @article.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<!-- Use this if want render the output form cheks also in article controller -->
<!-- add 'data: {turbo: false}' into form_with -->

<%= form_with(model: @article, local: true) do |f| %>
  <p> 
    <%= f.label :title %><br/> 
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :description %><br/> 
    <%= f.text_area :description %> 
  </p>
  <p>
    <%= f.submit %> 
  </p>
<% end %>

<%= link_to 'Cancel and return to article listening', articles_path %>